# Final Year Project -  Sentiment Analysis and Recommendation of Books
# 
## Team Members: 
## Lokesh Kumar R - 18BCS027
## Shivali Muthukumar - 18BCS068
## Kritya Shree S - 18BCS093

In [1]:
import pandas as pd
import numpy as mp
import random as rnd
from IPython.display import display
from ipywidgets import *
from statistics import mean

In [2]:
Children = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/merged dataset/Children.csv')
Comics = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/merged dataset/Comics.csv')
Young = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/merged dataset/Young.csv')
Mystery = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/merged dataset/Mystery.csv')
All_Genres = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/merged dataset/All Genres.csv')


Children_ratings = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/ranking dataset/Children_ratings.csv')
Comics_ratings = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/ranking dataset/Comics_ratings.csv')
Young_ratings = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/ranking dataset/Young_ratings.csv')
Mystery_ratings = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/ranking dataset/Mystery_ratings.csv')
All_ratings = pd.read_csv('/Users/kritya/Downloads/Data/goodreads/ranking dataset/All_ratings.csv')

# DEMO

In [4]:
print("FINAL YEAR PROJECT - SENTIMENT ANALYSIS AND BOOK RECOMMENDATION BY TEAM 15\n")
print("The team members are:\n Lokesh Kumar - 18BC0S27 \n Shivali Muthukumar - 18BCS068 \n Kritya Shree S - 18BCS093\n\n")
    

def show_articles_more_than(column=['total score', 'sentiment_score']):
    df = All_ratings.sort_values('total score', ascending=False)
    return df

def genre(column=['total score', 'sentiment_score']):
    try:
        n = int(input("\nEnter your desired genre: \n1.children \n2.comics \n3.young \n4.mystery \n"))
        if n == 1:
            x = Children_ratings
        if n == 2:
            x = Comics_ratings
        if n == 3:
            x = Young_ratings
        if n == 4:
            x = Mystery_ratings
        if n > 4 or n < 0:
            return 'Enter a Valid Choice'
        return x.sort_values('total score', ascending=False).head(10)
    except:
        return 'Enter a valid integer!'

def random():
    try:
        a = int(input("1.Book with just the name \n2.Full description about the Book\n"))
    
        if a == 1:
            n = int(input("\nEnter your desired genre: \n1.children \n2.comics \n3.young \n4.mystery \n5.ANY \n"))
            if n == 1:
                x = pd.DataFrame(Children_ratings)
            if n == 2:
                x = pd.DataFrame(Comics_ratings)
            if n == 3:
                x = pd.DataFrame(Young_ratings)
            if n == 4:
                x = pd.DataFrame(Mystery_ratings)
            if n == 5:
                x = pd.DataFrame(All_ratings)
            if n > 5 or n <1:
                return '\nEnter a Valid Choice'
            return x.sample()
        if a == 2:
            n = int(input("\nEnter your desired genre: \n1.children \n2.comics \n3.young \n4.mystery \n5.ANY \n"))
            if n == 1:
                x = pd.DataFrame(Children)
            if n == 2:
                x = pd.DataFrame(Comics)
            if n == 3:
                x = pd.DataFrame(Young)
            if n == 4:
                x = pd.DataFrame(Mystery)
            if n == 5:
                x = pd.DataFrame(All_Genres)
            if n > 5 or n <1:
                return '\nEnter a Valid Choice'
            return x.sample()
        if a > 1 or a < 2:
            return '\nEnter a Valid Choice'
    except:
        return 'Enter a valid integer!'
        
def similar_books():
    df=All_Genres
    userRatings = df.pivot_table(index=['user_id'],columns=['title'],values='sentiment_score')
    item_util_matrix = userRatings.copy()
    item_util_matrix = item_util_matrix.apply(lambda col : col.fillna(col.mean()), axis=0)
    item_corr_matrix = item_util_matrix.corr()
    book = input('Enter the Book name\n')
    try:
        book_corr = item_corr_matrix[book]
        book_corr = book_corr.sort_values(ascending=False)
        book_corr.dropna(inplace=True)
        similar_books = pd.DataFrame(data=book_corr.values, columns=['Correlation'], 
                                               index = book_corr.index)
        return similar_books.head(6)
    except:
        return 'Bookname not found!'
    
def main():
    while True:
        print("\nSelect one of the following: \n1. Best ranked books \n2. Most recommended books in each genre \n3. Similar Books \n4. Random Suggestion\n5. Exit\n ")
        try:
            choice = int(input())
            if choice == 1:
                z=int(input("\n1.To display the best Book \n2.To display Top 5 Books \n3.To display Top 10 Books\n"))
                if z == 1:
                    display(show_articles_more_than().head(1))
                if z == 2:
                    display(show_articles_more_than().head(5))
                if z == 3:
                    display(show_articles_more_than().head(10))
                if z > 3 or z < 1 :
                    display('Enter a Valid Option')
            if choice == 2:
                display(genre())
            if choice == 3:
                display(similar_books())
            if choice == 4:
                display(random())
            if choice == 5:
                break
            if choice > 5 or choice < 1 :
                display('Enter a Valid Choice')
        except:
            display('Enter a valid integer!')
    
if __name__ == "__main__":
    main()

FINAL YEAR PROJECT - SENTIMENT ANALYSIS AND BOOK RECOMMENDATION BY TEAM 15

The team members are:
 Lokesh Kumar - 18BC0S27
 Shivali Muthukumar - 18BCS068
 Kritya Shree S - 18BCS093



Select one of the following:
1. Best ranked books
2. Most recommended books in each genre
3. Similar Books
4. Random Suggestion
5. Exit

1

1.To display the best Book
2.To display Top 5 Books
3.To display Top 10 Books
3

,title,sentiment_score,total score
38,Citizen: An American Lyric,0.304921,117
271,"Unbroken: A World War II Story of Survival, Re...",0.362963,102
96,I Wrote This For You,0.607766,83
232,The Name of the Wind (The Kingkiller Chronicle...,0.692876,66
22,Batman: The Killing Joke,0.473633,61
207,"The Darkest Minds (The Darkest Minds, #1)",0.462410,61
235,The Paris Wife,0.465571,49
30,Born a Crime: Stories From a South African Chi...,0.697590,49
169,"Shiver (The Wolves of Mercy Falls, #1)",0.718193,46
56,Escape from Mr. Lemoncello's Library (Mr. Lemo...,0.848700,44

Select one of the following:
1. Best ranked books
2. Most recommended books in each genre
3. Similar Books
4. Random Suggestion
5. Exit

2

Enter your desired genre:
1.children
2.comics
3.young
4.mystery
3

,title,sentiment_score,total score
13,"The Darkest Minds (The Darkest Minds, #1)",0.462410,61
14,The Forest of Hands and Teeth (The Forest of H...,0.334913,30
16,This Lullaby,0.575695,20
10,See You at Harry's,0.596927,11
18,Unhooked,0.134980,10
8,"Nevermore (Maximum Ride, #8)",0.728944,9
19,rock,0.769287,8
5,Huntress,0.759087,8
3,"Forever (The Wolves of Mercy Falls, #3)",0.562171,7
17,"Throne of Glass (Throne of Glass, #1)",0.885271,7

Select one of the following:
1. Best ranked books
2. Most recommended books in each genre
3. Similar Books
4. Random Suggestion
5. Exit

3
Enter the Book name
Batman: The Killing Joke

                                           Correlation
title
Batman: The Killing Joke                      1.000000
Strega Nona                                   0.047332
Alex + Ada, Vol. 1                            0.034003
The Darkest Minds (The Darkest Minds, #1)     0.029938
The Snow Queen                                0.027845
Don't Let the Pigeon Drive the Bus!           0.021676

Select one of the following:
1. Best ranked books
2. Most recommended books in each genre
3. Similar Books
4. Random Suggestion
5. Exit

4
1.Book with just the name
2.Full description about the Book
1

Enter your desired genre:
1.children
2.comics
3.young
4.mystery
5.ANY
2

                                 title  sentiment_score  total score
4  Giant Days, Vol. 4 (Giant Days, #4)         0.448036           11

Select one of the following:
1. Best ranked books
2. Most recommended books in each genre
3. Similar Books
4. Random Suggestion
5. Exit

5